[Unit]
Description=StreamDeck HomeControl Controller
DefaultDependencies=no
Wants=homecontrolweb.service
After=network.target homecontrolweb.service

[Service]
Type=simple
Restart=always

# Restart service after 10 seconds if dotnet service crashes
RestartSec=10   
ExecStart=/var/streamdecksvc/HomeControl.StreamDeck
WorkingDirectory=/var/streamdecksvc
User=streamdeckuser
Group=streamdeckuser

[Install]
WantedBy = multi-user.target
