[Unit]
Description=HomeControl Web Service
DefaultDependencies=no
Wants=network.target
After=network.target

[Service]
Type=simple
Restart=always

# Restart service after 10 seconds if dotnet service crashes
RestartSec=10   

SyslogIdentifier=homecontrolwebsvc
ExecStart=/var/homecontrolwebsvc/HomeControl.web
WorkingDirectory=/var/homecontrolwebsvc
User=homecontroluser
Group=homecontroluser
PrivateTmp=true
# specify environment variable for environment
Environment=ASPNETCORE_ENVIRONMENT=Production
# specify environement variable for listening port
Environment=ASPNETCORE_URLS=http://*:8080


[Install]
WantedBy = multi-user.target
